nav{
    background-color: #0C182D !important;
}
#butn{
    background-color: #902B57;
    color: #B5C7EB !important;
}
.x{
    color: #B5C7EB !important;
}
#logo{
    height: 45px;
    width: 200px;
}
#icon{
    height: 35px;
    width: 38px;
}
body{
    background-color: #0C182D !important;
}
.card{
    min-width: 300px;
    height: 350px;
    
}


.products{
    overflow-x: auto;
}

.products::-webkit-scrollbar{
    height: 0px;
}

.right,
.left{
    position: absolute;
    top: 18%;
}
.right{
    right: 10px;
}
.left{
    left: 10px;
}
.r{
    margin-top: 140px;
    background-color: #902B57 !important;
}
.img1{
    width: 150px;
    margin: auto;
    margin-top: 30px;
    height: 6rem;
}
.content-all{
    margin: auto;
}
.bu{
    background-color: #902B57;
    color: #B5C7EB;
    border: none;
    box-shadow: 1px 1px 0px 0px black;
}
.cr{
    background-color: #11203a !important;
}
#img2{
    height: 95px;
}
#img3{
    height: 98px;
}
#img4{
    height: 98px;
}
.was-validated .form-control:invalid {
    border-color: #dc3545;
}
.was-validated .form-control:valid {
    border-color: #28a745;
}
.t{
    color: #B5C7EB !important;
}
.btn44{
    background-color: #902B57 !important;
    color: #B5C7EB !important;
    border: none !important;
}
.q1{
    background-color: #0C182D !important;
}
#cart-count {
    background-color: #902B57;
    color: #B5C7EB;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: relative;
    top: -10px;
    left: -10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 500px){
    #logo{
        width: 150px !important;
        height: 35px !important;
        
    }
    .media-cart{
        width: 45px !important;
        height: 45px !important;
    }
    #butn{
        margin-left: 40px !important;
        margin-bottom: 10px;
    }
    .icon-color{
        background-color: #902B57;
    }
    .r{
        display: none !important;
    }
    .group1{
        margin-left: 1.5rem;
    }
    body{
        height: 2250px;
    }
}
@media screen and (min-width:700px) and (max-width: 1025px){
    #logo{
        width: 265px !important;
        height: 80px !important;    
    }
    .icon-color{
        margin-left: 170px !important;
        background-color: #902B57 !important;
    }
    .media-cart{
        width: 45px !important;
        height: 45px !important;
    }
    #butn{
        margin-left: 40px !important;
        margin-bottom: 10px;
    }
    .products{
        margin-top: 250px;
    }
    .r{
        margin-top: 300px;
    }
}